@font-face {
  font-family: 'Public Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Public Sans Regular'), url('assets/fonts/PublicSans-Regular.woff') format('woff');
  }
  
@font-face {
  font-family: 'Public Sans Light';
  font-style: normal;
  font-weight: normal;
  src: local('Public Sans Light'), url('assets/fonts/PublicSans-Light.woff') format('woff');
}
  
@font-face {
  font-family: 'Public Sans SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Public Sans SemiBold'), url('assets/fonts/PublicSans-SemiBold.woff') format('woff');
}
  
@font-face {
  font-family: 'Public Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Public Sans Bold'), url('assets/fonts/PublicSans-Bold.woff') format('woff');
}