/*---------------------------------------
  imports
---------------------------------------*/

@import 'styles/variables.scss';

/*---------------------------------------
  discover page styles
---------------------------------------*/

.discover {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
}