/*---------------------------------------
  global imports
---------------------------------------*/

//Internal Imports
@import 'styles/variables.scss';
@import 'styles/fonts.scss';

/*---------------------------------------
  global styles
---------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontPrimaryRegular;
}

p, a, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
  width: 100%;
}
